<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.AreaDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Area">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parentid" property="parentid" jdbcType="BIGINT" />
		<result column="desc" property="desc" jdbcType="VARCHAR" />
		<association property="parent" javaType="cn.wow.common.domain.Area" column="parentid" select="cn.wow.common.dao.AreaDao.selectOne"/> 
		<collection property="subList" javaType="java.util.ArrayList" column="id" ofType="cn.wow.common.domain.Area" select="selectSubList"></collection>
	</resultMap>

	<sql id="base_columns">
		id, name, parentid, `desc`, code
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from area where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="getAreaByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="base_columns" /> from area where code = #{code,jdbcType=VARCHAR}
	</select>

	<!-- 获取子节点 -->
	<select id="selectSubList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from area where parentid = #{id} order by name asc
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from area where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.Area">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
		    SELECT @@IDENTITY
		</selectKey>
		insert into area (name, parentid, `desc`, code)
			values (#{name,jdbcType=VARCHAR}, #{parentid,jdbcType=BIGINT}, #{desc,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.Area">
		update area
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentid != null">
				parentid = #{parentid,jdbcType=BIGINT},
			</if>
			`desc` = #{desc,jdbcType=VARCHAR}
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select 
	    <include refid="base_columns" />
	      from area
	     <where>
			  <if test="name != null">
				and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
			  </if>
			  <if test="code != null">
				and code like concat('%', #{code,jdbcType=VARCHAR}, '%')
			  </if>
			  <if test="parentid != null">
				and parentid = #{parentid,jdbcType=BIGINT}
			</if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by id desc
	  		</otherwise>
	 	 </choose>
	  </select>
	
</mapper>