<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.DictionaryDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Dictionary">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="val" property="val" jdbcType="VARCHAR" />
		<result column="desc" property="desc" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="base_columns">
		id, name, val, `desc`, create_time
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from dictionary where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="base_columns" /> from dictionary where name = #{name,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from dictionary
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.Dictionary">
		insert into dictionary (name, val, `desc`, create_time)
		values (#{name,jdbcType=VARCHAR},#{val,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.Dictionary">
		update dictionary
		<set>
			<if test="name != null" >
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="val != null" >
				val = #{val,jdbcType=VARCHAR},
			</if>
			<if test="desc != null" >
				`desc` = #{desc,jdbcType=VARCHAR},
			</if>
		</set> 
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select 
	    <include refid="base_columns" />
	      from dictionary
	     <where>
			  <if test="name != null and name != ''" >
		       	and name like concat('%', #{name,jdbcType=VARCHAR}, '%') 
		      </if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by id desc
	  		</otherwise>
	 	 </choose>
	  </select>
  
	
</mapper>