<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.EmailRecordDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.EmailRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="subject" property="subject" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="addr" property="addr" jdbcType="VARCHAR" />
		<result column="task_id" property="taskId" jdbcType="BIGINT" />
		<result column="a_id" property="aId" jdbcType="BIGINT" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="orgin_email" property="orginEmail" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		
		<association property="task" javaType="cn.wow.common.domain.Task" column="task_id" select="cn.wow.common.dao.TaskDao.selectOne"/> 
		<association property="account" javaType="cn.wow.common.domain.Account" column="a_id" select="cn.wow.common.dao.AccountDao.selectOne"/> 
	</resultMap>
	
	<sql id="base_columns">
		r.id, r.subject, r.content, r.addr, r.task_id, r.a_id, r.state, r.type, r.orgin_email, r.create_time
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from email_record r where r.id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from email_record
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.EmailRecord">
		insert into email_record (subject, content, addr, task_id, a_id, state, type, orgin_email, create_time)
			values (#{subject,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{taskId,jdbcType=BIGINT}, #{aId,jdbcType=BIGINT},
					#{state,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{orginEmail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<insert id="batchAdd" parameterType="java.util.List">
		insert into email_record (subject, content, addr, task_id, a_id, state, type, orgin_email, create_time) values
		<foreach collection="list" item="item" separator=",">
			(#{item.subject,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, #{item.addr,jdbcType=VARCHAR}, #{item.taskId,jdbcType=BIGINT}, #{item.aId,jdbcType=BIGINT},
			 #{item.state,jdbcType=INTEGER}, #{item.type,jdbcType=INTEGER}, #{item.orginEmail,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert> 
	
	<update id="update" parameterType="cn.wow.common.domain.EmailRecord">
		update email_record
		<set>
			<if test="subject != null">
				subject = #{subject,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="taskId != null">
				task_id = #{taskId,jdbcType=BIGINT},
			</if>
			<if test="aId != null">
				a_id = #{aId,jdbcType=BIGINT},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="orginEmail != null">
				orgin_email = #{orginEmail,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select 
	    <include refid="base_columns" />
	      from email_record r left join task t on t.id = r.task_id
	     <where>
	     	<if test="code != null and code != ''">
				and t.code like concat('%', #{code,jdbcType=VARCHAR}, '%')
			</if>
			<if test="subject != null">
				and r.subject like concat('%',#{subject,jdbcType=VARCHAR},'%')
			</if>
			<if test="taskId != null">
				and r.task_id = #{taskId,jdbcType=BIGINT}
			</if>
			<if test="aId != null">
				and r.a_id = #{aId,jdbcType=BIGINT}
			</if>
			<if test="state != null">
				and r.state = #{state,jdbcType=INTEGER}
			</if>
			<if test="type != null">
				and r.type = #{type,jdbcType=INTEGER}
			</if>
			<if test="orginEmail != null">
				and r.orgin_email like concat('%',#{orginEmail,jdbcType=VARCHAR},'%')
			</if>
			<if test="startCreateTime != null and startCreateTime != ''">
				and r.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="endCreateTime != null and endCreateTime != ''">
				and r.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="addr != null">
				and r.addr = #{addr,jdbcType=VARCHAR}
			</if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by id desc
	  		</otherwise>
	 	 </choose>
	  </select>
	
	
</mapper>