<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.ExpItemDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.ExpItem">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="c_id" property="cId" jdbcType="BIGINT" />
		<result column="a_id" property="aId" jdbcType="BIGINT" />
		<result column="project" property="project" jdbcType="VARCHAR" />
		<result column="standard" property="standard" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="total" property="total" jdbcType="DOUBLE" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="base_columns">
		id, c_id, a_id, project, standard, price, num, total, remark, create_time
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from exp_item where id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from exp_item where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.ExpItem">
		insert into exp_item (c_id, a_id, project, standard, price, num, total, remark, create_time)
			values (#{cId,jdbcType=BIGINT}, #{aId,jdbcType=BIGINT}, #{project,jdbcType=VARCHAR},
					#{standard,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
					#{num,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.ExpItem">
		update exp_item
		<set>
			<if test="cId != null">
				c_id = #{cId,jdbcType=BIGINT},
			</if>
			<if test="aId != null">
				a_id = #{aId,jdbcType=BIGINT},
			</if>
			<if test="project != null">
				project = #{project,jdbcType=VARCHAR},
			</if>
			<if test="standard != null">
				standard = #{standard,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=INTEGER},
			</if>
			<if test="total != null">
				total = #{total,jdbcType=DOUBLE},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="base_columns" /> from exp_item
		<where>
			<if test="cId != null">
				and c_id = #{cId,jdbcType=BIGINT}
			</if>
	
			<if test="aId != null">
				and a_id = #{aId,jdbcType=BIGINT}
			</if>
	
			<if test="startCreateTime != null and startCreateTime != ''">
				and create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>
	
			<if test="endCreateTime != null and endCreateTime != ''">
				and create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>
		</where>
	
		<choose>
			<when test="custom_order_sql != null">
				order by ${custom_order_sql}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>
	
	<insert id="batchAdd" parameterType="java.util.List">
		insert into exp_item (c_id, a_id, project, standard, price, num, total, remark, create_time) values
		<foreach collection="list" item="item" separator=",">
			(#{item.cId,jdbcType=BIGINT}, #{item.aId,jdbcType=BIGINT}, #{item.project,jdbcType=VARCHAR},
			 #{item.standard,jdbcType=VARCHAR}, #{item.price,jdbcType=DOUBLE},
			 #{item.num,jdbcType=INTEGER}, #{item.total,jdbcType=DOUBLE}, #{item.remark,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
		</foreach>
	</insert> 
	
</mapper>