<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.MenuDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Menu">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="p_id" property="pId" jdbcType="BIGINT" />
		<result column="sort_num" property="sortNum" jdbcType="INTEGER" />
		<result column="is_parent" property="isParent" jdbcType="CHAR" />
		<result column="alias" property="alias" jdbcType="VARCHAR" />
		<collection property="subList" javaType="ArrayList" column="id" ofType="Attachment"  select="cn.wow.common.dao.MenuDao.getSubList"/>
	</resultMap>
	
	<sql id="base_columns">
		id, name, url, p_id, sort_num, is_parent,alias
	</sql>
	
	<select id="getMenuList" resultMap="BaseResultMap">
	  	select <include refid="base_columns" /> from menu where is_parent = 'Y' order by sort_num asc
	</select>
	
	<select id="getSubList" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select <include refid="base_columns" /> from menu where is_parent = 'N' and p_id = #{id, jdbcType=BIGINT} order by sort_num asc
	</select>
	
	<select id="selectByAlias" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="base_columns" /> from menu where alias = #{alias,jdbcType=VARCHAR}
	</select>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from menu where id = #{id,jdbcType=BIGINT}
	</select>
	
	<update id="update" parameterType="cn.wow.common.domain.Menu">
		update menu
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			sort_num = #{sortNum,jdbcType=INTEGER}
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select 
	    <include refid="base_columns" />
	      from menu
	     <where>
			  <if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			  </if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by id desc
	  		</otherwise>
	 	 </choose>
	 </select>

</mapper>